class/
CreateAcc.css/
CreateAcc.html/
Image Folder/
MySQL-YouTube-Series_layoffs.csv at main · AlexTheAnalyst_MySQL-YouTube-Series_files/
practice/
To-do-list/
YouTube lessons/
Forgot.css/
Forgot.html/
homePage.css/
homePage.html/
homePage.js/
index.html/
index1.html/
Login.css/
Login.html/
MySQL-YouTube-Series_layoffs.csv at main · AlexTheAnalyst_MySQL-YouTube-Series.html/
OTP.css/
OTP.html/
script.js/
test.js